---
import Container from "./Container.astro";
import IMG from "/images/about.png"
---

<div class="text-gray-600 dark:text-gray-300 py-[80px]" id="about">
  <Container>
   <div class="flex items-center justify-between flex-wrap md:flex-nowrap">
      <div class="flex flex-col gap-3 w-full md:w-1/2 ">
        <h1 class="text-[30px] md:text-[42px] font-bold relative before:absolute text-slate-900 before:content-[''] before:bottom-0 before:left-0 before:w-[100px] before:h-[2px] before:bg-sec-color after:absolute  after:content-[''] after:bottom-[-4px] after:left-[40px] after:w-[10px] after:h-[10px] after:rounded-full after:bg-sec-color">ABOUT <span class="text-main-color">OUR COMPANY</span></h1>
        <div class="text-[16px] md:text-[24px] font-bold text-slate-900">Integrity’s vision centers around solving problems through extensive research.</div>
        <p class="text-[14px] font-normal text-[#878787]">Integrity provides a cutting age technological solutions for a day-to-day problem in attempt to facilitate humanity life.</p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
          <div class="flex items-start gap-4">
            <svg class="w-10 h-10 text-main-color" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 3v4a1 1 0 0 1-1 1H5m8 7.5 2.5 2.5M19 4v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Zm-5 9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
            </svg>
            <div class="flex flex-col items-start gap-3">
              <h3 class="text-[17px] font-medium text-[#333333]">VISION AND RESEARCH</h3>
              <p class="text-[15px] font-normal text-[#878787]">hey aim to address day-to-day challenges faced by humanity.</p>
            </div>
          </div>
          <div class="flex items-start gap-4">
            <svg class="w-10 h-10 text-main-color " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M4 4h6v6H4V4Zm10 10h6v6h-6v-6Zm0-10h6v6h-6V4Zm-4 10h.01v.01H10V14Zm0 4h.01v.01H10V18Zm-3 2h.01v.01H7V20Zm0-4h.01v.01H7V16Zm-3 2h.01v.01H4V18Zm0-4h.01v.01H4V14Z"/>
              <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M7 7h.01v.01H7V7Zm10 10h.01v.01H17V17Z"/>
            </svg>
            
            
            <div class="flex flex-col items-start gap-3">
              <h3 class="text-[17px] font-medium text-[#333333]">PHILOSOPHY OF INTEGRATION</h3>
              <p class="text-[15px] font-normal text-[#878787]">Integration of simple, clear methods helps identify and analyze critical issues.</p>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
          <div class="flex items-start gap-4">
            <svg class="w-9 h-9 text-main-color" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m13.46 8.291 3.849-3.849a1.5 1.5 0 0 1 2.122 0l.127.127a1.5 1.5 0 0 1 0 2.122l-3.84 3.838a4 4 0 0 0-2.258-2.238Zm0 0a4 4 0 0 1 2.263 2.238l3.662-3.662a8.961 8.961 0 0 1 0 10.27l-3.676-3.676m-2.25-5.17 3.678-3.676a8.961 8.961 0 0 0-10.27 0l3.662 3.662a4 4 0 0 0-2.238 2.258L4.615 6.863a8.96 8.96 0 0 0 0 10.27l3.662-3.662a4 4 0 0 0 2.258 2.238l-3.672 3.676a8.96 8.96 0 0 0 10.27 0l-3.662-3.662a4.001 4.001 0 0 0 2.238-2.262m0 0 3.849 3.848a1.5 1.5 0 0 1 0 2.122l-.127.126a1.499 1.499 0 0 1-2.122 0l-3.838-3.838a4 4 0 0 0 2.238-2.258Zm.29-1.461a4 4 0 1 1-8 0 4 4 0 0 1 8 0Zm-7.718 1.471-3.84 3.838a1.5 1.5 0 0 0 0 2.122l.128.126a1.5 1.5 0 0 0 2.122 0l3.848-3.848a4 4 0 0 1-2.258-2.238Zm2.248-5.19L6.69 4.442a1.5 1.5 0 0 0-2.122 0l-.127.127a1.5 1.5 0 0 0 0 2.122l3.849 3.848a4 4 0 0 1 2.238-2.258Z"/>
            </svg>
            
            <div class="flex flex-col items-start gap-3">
              <h3 class="text-[17px] font-medium text-[#333333]">CUTTING-EDGE TECHNOLOGY</h3>
              <p class="text-[15px] font-normal text-[#878787]">Integrity provides advanced technological solutions.</p>
            </div>
          </div>
          <div class="flex items-start gap-4">
            <svg class="min-w-[30px] min-h-[30px] text-main-color" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <svg width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1036_2016)">
                <path d="M29.8984 25.774C29.8984 26.3655 29.692 26.8677 29.279 27.2807L27.4877 29.0887C27.0525 29.5017 26.5446 29.7081 25.9643 29.7081C25.3728 29.7081 24.8705 29.5017 24.4576 29.0887L18.3806 22.995C17.9565 22.5932 17.7444 22.0909 17.7444 21.4883C17.7444 20.8967 17.9844 20.361 18.4643 19.8811L14.1786 15.5954L12.0692 17.7048C11.913 17.861 11.7232 17.9392 11.5 17.9392C11.2768 17.9392 11.0871 17.861 10.9308 17.7048C10.9531 17.7271 11.0229 17.7941 11.1401 17.9057C11.2573 18.0173 11.327 18.0898 11.3493 18.1233C11.3717 18.1568 11.4275 18.221 11.5167 18.3158C11.606 18.4107 11.6618 18.486 11.6842 18.5418C11.7065 18.5976 11.74 18.673 11.7846 18.7678C11.8292 18.8627 11.8599 18.9548 11.8767 19.0441C11.8934 19.1334 11.9018 19.2338 11.9018 19.3454C11.9018 19.7695 11.7455 20.149 11.433 20.4838C11.3996 20.5173 11.3075 20.6177 11.1568 20.7851C11.0061 20.9525 10.9001 21.0669 10.8387 21.1283C10.7773 21.1897 10.6741 21.2818 10.529 21.4046C10.3839 21.5273 10.2612 21.6138 10.1607 21.664C10.0603 21.7143 9.9375 21.7645 9.79241 21.8147C9.64733 21.8649 9.50224 21.89 9.35715 21.89C8.91072 21.89 8.53125 21.7338 8.21875 21.4213L1.3884 14.5909C1.0759 14.2784 0.919647 13.899 0.919647 13.4526C0.919647 13.3075 0.944759 13.1624 0.994982 13.0173C1.04521 12.8722 1.09543 12.7494 1.14565 12.649C1.19587 12.5485 1.28237 12.4258 1.40514 12.2807C1.52791 12.1356 1.61998 12.0323 1.68137 11.971C1.74275 11.9096 1.85715 11.8036 2.02456 11.6529C2.19197 11.5022 2.29242 11.4101 2.3259 11.3767C2.66072 11.0642 3.04018 10.9079 3.46429 10.9079C3.5759 10.9079 3.67634 10.9163 3.76563 10.933C3.85491 10.9498 3.94699 10.9805 4.04186 11.0251C4.13672 11.0697 4.21206 11.1032 4.26786 11.1255C4.32366 11.1479 4.399 11.2037 4.49387 11.293C4.58873 11.3822 4.65291 11.438 4.68639 11.4604C4.71987 11.4827 4.79241 11.5524 4.90402 11.6696C5.01563 11.7868 5.08259 11.8566 5.10492 11.8789C4.94867 11.7226 4.87054 11.5329 4.87054 11.3097C4.87054 11.0865 4.94867 10.8967 5.10492 10.7405L10.9308 4.9146C11.0871 4.75835 11.2768 4.68023 11.5 4.68023C11.7232 4.68023 11.913 4.75835 12.0692 4.9146C12.0469 4.89228 11.9771 4.82532 11.8599 4.71371C11.7427 4.6021 11.673 4.52956 11.6507 4.49608C11.6284 4.46259 11.5725 4.39842 11.4833 4.30355C11.394 4.20869 11.3382 4.13335 11.3159 4.07755C11.2935 4.02175 11.26 3.94641 11.2154 3.85155C11.1708 3.75668 11.1401 3.6646 11.1233 3.57532C11.1066 3.48603 11.0982 3.38559 11.0982 3.27398C11.0982 2.84987 11.2545 2.47041 11.567 2.13559C11.6005 2.1021 11.6925 2.00166 11.8432 1.83425C11.9939 1.66684 12.0999 1.55244 12.1613 1.49105C12.2227 1.42967 12.3259 1.33759 12.471 1.21483C12.6161 1.09206 12.7388 1.00556 12.8393 0.955341C12.9397 0.905117 13.0625 0.854895 13.2076 0.80467C13.3527 0.754448 13.4978 0.729336 13.6429 0.729336C14.0893 0.729336 14.4688 0.885586 14.7813 1.19809L21.6116 8.02844C21.9241 8.34094 22.0804 8.72041 22.0804 9.16684C22.0804 9.31193 22.0553 9.45701 22.005 9.6021C21.9548 9.74719 21.9046 9.86996 21.8544 9.97041C21.8041 10.0709 21.7176 10.1936 21.5949 10.3387C21.4721 10.4838 21.38 10.587 21.3186 10.6484C21.2573 10.7098 21.1429 10.8158 20.9755 10.9665C20.808 11.1172 20.7076 11.2092 20.6741 11.2427C20.3393 11.5552 19.9598 11.7115 19.5357 11.7115C19.4241 11.7115 19.3237 11.7031 19.2344 11.6864C19.1451 11.6696 19.053 11.6389 18.9582 11.5943C18.8633 11.5496 18.788 11.5162 18.7321 11.4938C18.6763 11.4715 18.601 11.4157 18.5061 11.3264C18.4113 11.2371 18.3471 11.1813 18.3136 11.159C18.2801 11.1367 18.2076 11.0669 18.096 10.9498C17.9844 10.8326 17.9174 10.7628 17.8951 10.7405C18.0513 10.8967 18.1295 11.0865 18.1295 11.3097C18.1295 11.5329 18.0513 11.7226 17.8951 11.8789L15.7857 13.9883L20.0714 18.274C20.5513 17.7941 21.0871 17.5541 21.6786 17.5541C22.2589 17.5541 22.7667 17.7606 23.202 18.1735L29.279 24.2505C29.692 24.6858 29.8984 25.1936 29.8984 25.774Z" fill="#2152FF"/>
                </g>
                <defs>
                <clipPath id="clip0_1036_2016">
                <rect width="30" height="30" fill="white" transform="matrix(1 0 0 -1 0.25 30.0597)"/>
                </clipPath>
                </defs>
                </svg>
                
            
            <div class="flex flex-col items-start gap-3">
              <h3 class="text-[17px] font-medium text-[#333333]">SOLUTIONS FOR HUMANITY</h3>
              <p class="text-[15px] font-normal text-[#878787]">Integrity’s commitment to research, technology, and practical solutions is commendable! </p>
            </div>
          </div>
        </div>
        <button type="button" class="text-white bg-sec-color duration-300 hover:bg-green-600 focus:outline-none focus:ring-4 focus:ring-green-300 font-medium  text-sm px-8 py-2.5 text-center mt-5 md:mt-2  mb-2 rounded-full w-fit mx-auto md:mx-0" >Read More</button>
      </div>
   <div class="flex items-center justify-end w-full md:w-1/2">
    <img src={IMG} alt="about" class=" w-[480px] h-[540px]">
   </div>
  </div>
  </Container>
</div>