---
import Container from "./Container.astro";

---

<section class=" bg-[url(/footer.png)] relative bg-cover ">
  
  <Container>

  <div class="bg-[#0000009a] absolute top-0 left-0 w-full h-full "></div>
  <div class="pt-[60px] pb-[40px]  mt-[70px] container mx-auto relative ">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="flex flex-col gap-5 items-center mb-[30px] lg:mb-0 lg:items-start  pr-6 ">
         <img src="/footer.svg" alt="">
        <p class="text-[15px] text-white ">
          Book your trip in minute, get fullControl for much longer Book youret full Control for much longer. Book your trip in minute, get full Control for much longer.
        </p>
        
      </div>
      <ul class="flex flex-col items-center md:items-end lg:items-start gap-2 p-3 text-white">
        <h2 class="text-[22px] font-bold text-white">About</h2>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300 ">
          <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M7 6.11133L2.75 10.3613C2.4375 10.6738 1.96875 10.6738 1.6875 10.3613L0.96875 9.67383C0.6875 9.36133 0.6875 8.89258 0.96875 8.61133L4 5.61133L0.96875 2.58008C0.6875 2.29883 0.6875 1.83008 0.96875 1.51758L1.6875 0.798828C1.96875 0.517578 2.4375 0.517578 2.75 0.798828L7 5.04883C7.28125 5.36133 7.28125 5.83008 7 6.11133ZM13 5.04883C13.2812 5.36133 13.2812 5.83008 13 6.11133L8.75 10.3613C8.46875 10.6738 7.96875 10.6738 7.6875 10.3613L6.96875 9.67383C6.6875 9.36133 6.6875 8.89258 6.96875 8.61133L10 5.58008L6.96875 2.58008C6.6875 2.29883 6.6875 1.79883 6.96875 1.51758L7.6875 0.798828C7.96875 0.517578 8.4375 0.517578 8.75 0.798828L13 5.04883Z" fill="#CCCCCC"/>
          </svg>
          <a href="#about">About us</a></li>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300  ">
          <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 6.11133L2.75 10.3613C2.4375 10.6738 1.96875 10.6738 1.6875 10.3613L0.96875 9.67383C0.6875 9.36133 0.6875 8.89258 0.96875 8.61133L4 5.61133L0.96875 2.58008C0.6875 2.29883 0.6875 1.83008 0.96875 1.51758L1.6875 0.798828C1.96875 0.517578 2.4375 0.517578 2.75 0.798828L7 5.04883C7.28125 5.36133 7.28125 5.83008 7 6.11133ZM13 5.04883C13.2812 5.36133 13.2812 5.83008 13 6.11133L8.75 10.3613C8.46875 10.6738 7.96875 10.6738 7.6875 10.3613L6.96875 9.67383C6.6875 9.36133 6.6875 8.89258 6.96875 8.61133L10 5.58008L6.96875 2.58008C6.6875 2.29883 6.6875 1.79883 6.96875 1.51758L7.6875 0.798828C7.96875 0.517578 8.4375 0.517578 8.75 0.798828L13 5.04883Z" fill="#CCCCCC"/>
            </svg>
            <a href="#about">Services</a></li>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300  ">
          <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 6.11133L2.75 10.3613C2.4375 10.6738 1.96875 10.6738 1.6875 10.3613L0.96875 9.67383C0.6875 9.36133 0.6875 8.89258 0.96875 8.61133L4 5.61133L0.96875 2.58008C0.6875 2.29883 0.6875 1.83008 0.96875 1.51758L1.6875 0.798828C1.96875 0.517578 2.4375 0.517578 2.75 0.798828L7 5.04883C7.28125 5.36133 7.28125 5.83008 7 6.11133ZM13 5.04883C13.2812 5.36133 13.2812 5.83008 13 6.11133L8.75 10.3613C8.46875 10.6738 7.96875 10.6738 7.6875 10.3613L6.96875 9.67383C6.6875 9.36133 6.6875 8.89258 6.96875 8.61133L10 5.58008L6.96875 2.58008C6.6875 2.29883 6.6875 1.79883 6.96875 1.51758L7.6875 0.798828C7.96875 0.517578 8.4375 0.517578 8.75 0.798828L13 5.04883Z" fill="#CCCCCC"/>
            </svg>
            
            <a href="#about">Contact</a></li>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300  ">
          <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 6.11133L2.75 10.3613C2.4375 10.6738 1.96875 10.6738 1.6875 10.3613L0.96875 9.67383C0.6875 9.36133 0.6875 8.89258 0.96875 8.61133L4 5.61133L0.96875 2.58008C0.6875 2.29883 0.6875 1.83008 0.96875 1.51758L1.6875 0.798828C1.96875 0.517578 2.4375 0.517578 2.75 0.798828L7 5.04883C7.28125 5.36133 7.28125 5.83008 7 6.11133ZM13 5.04883C13.2812 5.36133 13.2812 5.83008 13 6.11133L8.75 10.3613C8.46875 10.6738 7.96875 10.6738 7.6875 10.3613L6.96875 9.67383C6.6875 9.36133 6.6875 8.89258 6.96875 8.61133L10 5.58008L6.96875 2.58008C6.6875 2.29883 6.6875 1.79883 6.96875 1.51758L7.6875 0.798828C7.96875 0.517578 8.4375 0.517578 8.75 0.798828L13 5.04883Z" fill="#CCCCCC"/>
            </svg>
            <a href="#about">Latest Projects</a></li>
      </ul>
      <ul class="flex flex-col gap-2 items-center md:items-start  p-3 text-white ">
        <h2 class="text-[22px] font-bold text-white">Support</h2>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300">
          <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 6.11133L2.75 10.3613C2.4375 10.6738 1.96875 10.6738 1.6875 10.3613L0.96875 9.67383C0.6875 9.36133 0.6875 8.89258 0.96875 8.61133L4 5.61133L0.96875 2.58008C0.6875 2.29883 0.6875 1.83008 0.96875 1.51758L1.6875 0.798828C1.96875 0.517578 2.4375 0.517578 2.75 0.798828L7 5.04883C7.28125 5.36133 7.28125 5.83008 7 6.11133ZM13 5.04883C13.2812 5.36133 13.2812 5.83008 13 6.11133L8.75 10.3613C8.46875 10.6738 7.96875 10.6738 7.6875 10.3613L6.96875 9.67383C6.6875 9.36133 6.6875 8.89258 6.96875 8.61133L10 5.58008L6.96875 2.58008C6.6875 2.29883 6.6875 1.79883 6.96875 1.51758L7.6875 0.798828C7.96875 0.517578 8.4375 0.517578 8.75 0.798828L13 5.04883Z" fill="#CCCCCC"/>
            </svg>
            <a target="_blank" href="/info@integrity-tec.com">info@integrity-tec.com</a></li>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300">
          <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 6.11133L2.75 10.3613C2.4375 10.6738 1.96875 10.6738 1.6875 10.3613L0.96875 9.67383C0.6875 9.36133 0.6875 8.89258 0.96875 8.61133L4 5.61133L0.96875 2.58008C0.6875 2.29883 0.6875 1.83008 0.96875 1.51758L1.6875 0.798828C1.96875 0.517578 2.4375 0.517578 2.75 0.798828L7 5.04883C7.28125 5.36133 7.28125 5.83008 7 6.11133ZM13 5.04883C13.2812 5.36133 13.2812 5.83008 13 6.11133L8.75 10.3613C8.46875 10.6738 7.96875 10.6738 7.6875 10.3613L6.96875 9.67383C6.6875 9.36133 6.6875 8.89258 6.96875 8.61133L10 5.58008L6.96875 2.58008C6.6875 2.29883 6.6875 1.79883 6.96875 1.51758L7.6875 0.798828C7.96875 0.517578 8.4375 0.517578 8.75 0.798828L13 5.04883Z" fill="#CCCCCC"/>
            </svg>
            00971555623319</li>
        <li class="text-[16px] flex items-center justify-center gap-2 hover:translate-x-2 duration-300 leading-8">
          <svg width="20 " height="20" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 6.11133L2.75 10.3613C2.4375 10.6738 1.96875 10.6738 1.6875 10.3613L0.96875 9.67383C0.6875 9.36133 0.6875 8.89258 0.96875 8.61133L4 5.61133L0.96875 2.58008C0.6875 2.29883 0.6875 1.83008 0.96875 1.51758L1.6875 0.798828C1.96875 0.517578 2.4375 0.517578 2.75 0.798828L7 5.04883C7.28125 5.36133 7.28125 5.83008 7 6.11133ZM13 5.04883C13.2812 5.36133 13.2812 5.83008 13 6.11133L8.75 10.3613C8.46875 10.6738 7.96875 10.6738 7.6875 10.3613L6.96875 9.67383C6.6875 9.36133 6.6875 8.89258 6.96875 8.61133L10 5.58008L6.96875 2.58008C6.6875 2.29883 6.6875 1.79883 6.96875 1.51758L7.6875 0.798828C7.96875 0.517578 8.4375 0.517578 8.75 0.798828L13 5.04883Z" fill="#CCCCCC"/>
            </svg>
            BAYAN BUSINESS CENTER,  Dubai Investment Park First, Dubai</li>
        
      </ul>
      <ul class="flex flex-col gap-2 items-center md:items-end lg:items-start p-3 text-white ">
        <h2 class="text-[22px] font-bold ">Follow Us</h2>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300">
          <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8.71875 9.58008H6.375V16.5801H3.25V9.58008H0.6875V6.70508H3.25V4.48633C3.25 1.98633 4.75 0.580078 7.03125 0.580078C8.125 0.580078 9.28125 0.798828 9.28125 0.798828V3.26758H8C6.75 3.26758 6.375 4.01758 6.375 4.83008V6.70508H9.15625L8.71875 9.58008Z" fill="#CCCCCC"/>
            </svg>
            
         Facebook</li>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300">
          <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.34019 6.44408V7.57541C8.57711 7.21453 8.90366 6.92134 9.2879 6.72455C9.67214 6.52776 10.1009 6.4341 10.5322 6.45274C12.8355 6.45274 13.3335 7.89275 13.3335 9.76608V13.5801H11.2002V10.1987C11.2002 9.39208 11.0375 8.35474 9.78152 8.35474C8.56352 8.35474 8.35552 9.23275 8.35552 10.1387V13.5801H6.22886V6.44408H8.34019ZM4.80019 4.65074C4.79993 4.86208 4.73728 5.06864 4.62011 5.24451C4.50294 5.42039 4.33645 5.55777 4.14152 5.63941C3.94667 5.7204 3.73214 5.74158 3.52521 5.70027C3.31829 5.65896 3.12833 5.55701 2.97952 5.40741C2.83043 5.25772 2.72893 5.06728 2.68778 4.86006C2.64663 4.65283 2.66768 4.43806 2.74826 4.24276C2.82885 4.04746 2.96538 3.88035 3.14069 3.76244C3.31599 3.64453 3.52225 3.58108 3.73352 3.58008C3.87394 3.58008 4.01297 3.6078 4.14264 3.66165C4.27232 3.71551 4.39009 3.79444 4.48919 3.89391C4.58829 3.99338 4.66677 4.11144 4.72014 4.24132C4.77351 4.3712 4.80071 4.51033 4.80019 4.65074Z" fill="white"/>
            <path d="M4.79999 6.45264H2.66666V13.58H4.79999V6.45264Z" fill="white"/>
            </svg>
            
          Linkedin
        </li>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300">
          <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M8 3.98633C9.96875 3.98633 11.5938 5.61133 11.5938 7.58008C11.5938 9.58008 9.96875 11.1738 8 11.1738C6 11.1738 4.40625 9.58008 4.40625 7.58008C4.40625 5.61133 6 3.98633 8 3.98633ZM8 9.92383C9.28125 9.92383 10.3125 8.89258 10.3125 7.58008C10.3125 6.29883 9.28125 5.26758 8 5.26758C6.6875 5.26758 5.65625 6.29883 5.65625 7.58008C5.65625 8.89258 6.71875 9.92383 8 9.92383ZM12.5625 3.86133C12.5625 4.33008 12.1875 4.70508 11.7188 4.70508C11.25 4.70508 10.875 4.33008 10.875 3.86133C10.875 3.39258 11.25 3.01758 11.7188 3.01758C12.1875 3.01758 12.5625 3.39258 12.5625 3.86133ZM14.9375 4.70508C15 5.86133 15 9.33008 14.9375 10.4863C14.875 11.6113 14.625 12.5801 13.8125 13.4238C13 14.2363 12 14.4863 10.875 14.5488C9.71875 14.6113 6.25 14.6113 5.09375 14.5488C3.96875 14.4863 3 14.2363 2.15625 13.4238C1.34375 12.5801 1.09375 11.6113 1.03125 10.4863C0.96875 9.33008 0.96875 5.86133 1.03125 4.70508C1.09375 3.58008 1.34375 2.58008 2.15625 1.76758C3 0.955078 3.96875 0.705078 5.09375 0.642578C6.25 0.580078 9.71875 0.580078 10.875 0.642578C12 0.705078 13 0.955078 13.8125 1.76758C14.625 2.58008 14.875 3.58008 14.9375 4.70508ZM13.4375 11.7051C13.8125 10.7988 13.7188 8.61133 13.7188 7.58008C13.7188 6.58008 13.8125 4.39258 13.4375 3.45508C13.1875 2.86133 12.7188 2.36133 12.125 2.14258C11.1875 1.76758 9 1.86133 8 1.86133C6.96875 1.86133 4.78125 1.76758 3.875 2.14258C3.25 2.39258 2.78125 2.86133 2.53125 3.45508C2.15625 4.39258 2.25 6.58008 2.25 7.58008C2.25 8.61133 2.15625 10.7988 2.53125 11.7051C2.78125 12.3301 3.25 12.7988 3.875 13.0488C4.78125 13.4238 6.96875 13.3301 8 13.3301C9 13.3301 11.1875 13.4238 12.125 13.0488C12.7188 12.7988 13.2188 12.3301 13.4375 11.7051Z" fill="#CCCCCC"/>
            </svg>
            
          Instagram
        </li>
        <li class="text-[16px] flex items-center gap-2 hover:translate-x-2 duration-300">
          <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.3438 3.33008C14.3438 3.48633 14.3438 3.61133 14.3438 3.76758C14.3438 8.11133 11.0625 13.0801 5.03125 13.0801C3.15625 13.0801 1.4375 12.5488 0 11.6113C0.25 11.6426 0.5 11.6738 0.78125 11.6738C2.3125 11.6738 3.71875 11.1426 4.84375 10.2676C3.40625 10.2363 2.1875 9.29883 1.78125 7.98633C2 8.01758 2.1875 8.04883 2.40625 8.04883C2.6875 8.04883 3 7.98633 3.25 7.92383C1.75 7.61133 0.625 6.29883 0.625 4.70508V4.67383C1.0625 4.92383 1.59375 5.04883 2.125 5.08008C1.21875 4.48633 0.65625 3.48633 0.65625 2.36133C0.65625 1.73633 0.8125 1.17383 1.09375 0.705078C2.71875 2.67383 5.15625 3.98633 7.875 4.14258C7.8125 3.89258 7.78125 3.64258 7.78125 3.39258C7.78125 1.58008 9.25 0.111328 11.0625 0.111328C12 0.111328 12.8438 0.486328 13.4688 1.14258C14.1875 0.986328 14.9062 0.705078 15.5312 0.330078C15.2812 1.11133 14.7812 1.73633 14.0938 2.14258C14.75 2.08008 15.4062 1.89258 15.9688 1.64258C15.5312 2.29883 14.9688 2.86133 14.3438 3.33008Z" fill="#CCCCCC"/>
            </svg>
            
          Twitter
        </li>
      </ul>
    </div>
    <div class="mt-8 mb-5 bg-slate-600 w-full h-[1px]"></div>
    <div class="flex justify-center items-center text-white">
      <span class="text-[14px] font-medium">
        Copyright © All Right Reserved      </span>
    </div>
  </div>
</Container>

</section>
