---
import Container from "./Container.astro"

---

<div id="services" class="pt-[40px]">
  <Container>
    <h1 class="text-[30px] md:text-[42px] font-bold relative before:absolute text-slate-900 before:content-[''] before:bottom-0 before:left-[35%] before:w-[100px] before:h-[2px] before:bg-sec-color after:absolute  after:content-[''] after:bottom-[-4px] after:left-1/2 after:w-[10px] after:h-[10px] after:rounded-full after:bg-sec-color  w-fit mx-auto">OUR <span class="text-main-color">SERVICES</span></h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-[30px] mt-[70px]">
      <div class="hover:border-main-color hover:-translate-y-2 border-gray-500 group duration-300 border-[1px] py-3 px-5 rounded-2xl relative">
        <div class="flex justify-between items-center">
          <div class="absolute group-hover:bg-main-color duration-300 bg-white p-2 top-[-35px] left-7 rounded-2xl border-[1px] border-gray-500">
            <svg class="w-[60px] h-[60px] text-slate-900 duration-300 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="1" d="M8.737 8.737a21.49 21.49 0 0 1 3.308-2.724m0 0c3.063-2.026 5.99-2.641 7.331-1.3 1.827 1.828.026 6.591-4.023 10.64-4.049 4.049-8.812 5.85-10.64 4.023-1.33-1.33-.736-4.218 1.249-7.253m6.083-6.11c-3.063-2.026-5.99-2.641-7.331-1.3-1.827 1.828-.026 6.591 4.023 10.64m3.308-9.34a21.497 21.497 0 0 1 3.308 2.724m2.775 3.386c1.985 3.035 2.579 5.923 1.248 7.253-1.336 1.337-4.245.732-7.295-1.275M14 12a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
            </svg>
  
          </div>
          <h1 class="ml-auto text-[22px]  font-medium">IT Network Services</h1>
        </div>
        <p class="text-[15px] text-[#333333] font-medium leading-[24px] my-[30px] px-3">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec in leo vitae nisi rutrum
          fringilla. Nunc consequat massa sed porta
          convallis. Sed quis sollicitudin risus. Morbi vitae
          semper dolor.</p>
      </div>
      <div class="hover:border-main-color hover:-translate-y-2 border-gray-500 group duration-300 border-[1px] py-3 px-5 rounded-2xl relative">
        <div class="flex justify-between items-center">
          <div class=" absolute group-hover:bg-main-color duration-300 bg-white p-2 top-[-35px] left-7 rounded-2xl border-[1px] border-gray-500">
            <svg class="w-[60px] h-[60px] text-slate-900 duration-300 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M11 9H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h6m0-6v6m0-6 5.419-3.87A1 1 0 0 1 18 5.942v12.114a1 1 0 0 1-1.581.814L11 15m7 0a3 3 0 0 0 0-6M6 15h3v5H6v-5Z"/>
            </svg>
          </div>
          <h1 class="ml-auto text-[18px] md:text-[20px]  font-medium">Marketing Via Social Media</h1>
        </div>
        <p class="text-[15px] text-[#333333] font-medium leading-[24px] my-[30px] px-3">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec in leo vitae nisi rutrum
          fringilla. Nunc consequat massa sed porta
          convallis. Sed quis sollicitudin risus. Morbi vitae
          semper dolor.</p>
      </div>
      <div class="hover:border-main-color hover:-translate-y-2 border-gray-500 group duration-300 border-[1px] py-3 px-5 rounded-2xl relative">
        <div class="flex justify-between items-center">
          <div class=" absolute group-hover:bg-main-color duration-300 bg-white p-2 top-[-35px] left-7 rounded-2xl border-[1px] border-gray-500">
            <svg class="w-[60px] h-[60px] text-slate-900 duration-300 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M8 8v8m0-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 8a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 0a4 4 0 0 1-4 4h-1a3 3 0 0 0-3 3"/>
            </svg>
            
  
          </div>
          <h1 class="ml-auto text-[22px]  font-medium">Software Design</h1>
        </div>
        <p class="text-[15px] text-[#333333] font-medium leading-[24px] my-[30px] px-3">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec in leo vitae nisi rutrum
          fringilla. Nunc consequat massa sed porta
          convallis. Sed quis sollicitudin risus. Morbi vitae
          semper dolor.</p>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-[30px] mt-[50px]">
      
      <div class="hover:border-main-color hover:-translate-y-2 border-gray-500 group duration-300 border-[1px] py-3 px-5 rounded-2xl relative">
        <div class="flex justify-between items-center">
          <div class=" absolute group-hover:bg-main-color duration-300 bg-white p-2 top-[-35px] left-7 rounded-2xl border-[1px] border-gray-500">
            <svg class="w-[60px] h-[60px] text-slate-900 duration-300 group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M12 15v5m-3 0h6M4 11h16M5 15h14a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1Z"/>
            </svg>
          </div>
          <h1 class="ml-auto text-[22px] font-medium">Computer Systems </h1>
        </div>
        <p class="text-[15px] text-[#333333] font-medium leading-[24px] my-[30px] px-3">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec in leo vitae nisi rutrum
          fringilla. Nunc consequat massa sed porta
          convallis. Sed quis sollicitudin risus. Morbi vitae
          semper dolor.</p>
      </div>
      <div class="hover:border-main-color hover:-translate-y-2 border-gray-500 group duration-300 border-[1px] py-3 px-5 rounded-2xl relative">
        <div class="flex justify-between items-center">
          <div class=" absolute group-hover:bg-main-color duration-300 bg-white p-2 top-[-35px] left-7 rounded-2xl border-[1px] border-gray-500">
            <svg class="w-[60px] h-[60px] text-slate-900 duration-300 group-hover:text-white"  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="square" stroke-linejoin="round" stroke-width="1" d="M10 19H5a1 1 0 0 1-1-1v-1a3 3 0 0 1 3-3h2m10 1a3 3 0 0 1-3 3m3-3a3 3 0 0 0-3-3m3 3h1m-4 3a3 3 0 0 1-3-3m3 3v1m-3-4a3 3 0 0 1 3-3m-3 3h-1m4-3v-1m-2.121 1.879-.707-.707m5.656 5.656-.707-.707m-4.242 0-.707.707m5.656-5.656-.707.707M12 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"/>
            </svg>
          </div>
          <h1 class="ml-auto text-[18px] md:text-[20px]  font-medium">Communication 
            Equipment</h1>
        </div>
        <p class="text-[15px] text-[#333333] font-medium leading-[24px] my-[30px] px-3">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec in leo vitae nisi rutrum
          fringilla. Nunc consequat massa sed porta
          convallis. Sed quis sollicitudin risus. Morbi vitae
          semper dolor.</p>
      </div>
      <div class="hover:border-main-color hover:-translate-y-2 border-gray-500 group duration-300 border-[1px] py-3 px-5 rounded-2xl relative">
        <div class="flex justify-between items-center">
          <div class=" absolute group-hover:bg-main-color duration-300 bg-white p-2 top-[-35px] left-7 rounded-2xl border-[1px] border-gray-500">
            <svg class="w-[60px] h-[60px] text-slate-900 duration-300 group-hover:text-white"  aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M18 9V4a1 1 0 0 0-1-1H8.914a1 1 0 0 0-.707.293L4.293 7.207A1 1 0 0 0 4 7.914V20a1 1 0 0 0 1 1h6M9 3v4a1 1 0 0 1-1 1H4m11 13a11.426 11.426 0 0 1-3.637-3.99A11.139 11.139 0 0 1 10 11.833L15 10l5 1.833a11.137 11.137 0 0 1-1.363 5.176A11.425 11.425 0 0 1 15.001 21Z"/>
            </svg>
            
            
  
          </div>
          <h1 class="ml-auto text-[22px]  font-medium">IT Infrastructure</h1>
        </div>
        <p class="text-[15px] text-[#333333] font-medium leading-[24px] my-[30px] px-3">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Donec in leo vitae nisi rutrum
          fringilla. Nunc consequat massa sed porta
          convallis. Sed quis sollicitudin risus. Morbi vitae
          semper dolor.</p>
      </div>
    </div>
  </Container>
</div>