---
import Container from "./Container.astro"

---

<div id="latest-projects" class="pt-[100px]">
  <Container>
    <h1 class="text-[30px] md:text-[42px] font-bold relative before:absolute text-slate-900 before:content-[''] before:bottom-0 before:left-[38%] before:w-[100px] before:h-[2px] before:bg-sec-color after:absolute  after:content-[''] after:bottom-[-4px] after:left-1/2 after:w-[10px] after:h-[10px] after:rounded-full after:bg-sec-color  w-fit mx-auto">LATEST <span class="text-main-color">PROJECTS</span></h1>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 mt-[50px]">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/Emerald.jpg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Emerald Egypt.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 ">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" target="_blank" href="https://ee-fm.org/">
              <span class="text-info flex items-center gap-2">View<svg width="12" height="13" class="pt-1" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.793 5.09987H0.5C0.367392 5.09987 0.240215 5.15255 0.146447 5.24632C0.0526785 5.34009 0 5.46727 0 5.59987C0 5.73248 0.0526785 5.85966 0.146447 5.95343C0.240215 6.0472 0.367392 6.09987 0.5 6.09987H9.793L6.146 9.74587C6.05211 9.83976 5.99937 9.9671 5.99937 10.0999C5.99937 10.2326 6.05211 10.36 6.146 10.4539C6.23989 10.5478 6.36722 10.6005 6.5 10.6005C6.63278 10.6005 6.76011 10.5478 6.854 10.4539L11.354 5.95387C11.4006 5.90743 11.4375 5.85225 11.4627 5.79151C11.4879 5.73076 11.5009 5.66564 11.5009 5.59987C11.5009 5.53411 11.4879 5.46899 11.4627 5.40824C11.4375 5.3475 11.4006 5.29232 11.354 5.24587L6.854 0.745875C6.76011 0.651988 6.63278 0.599243 6.5 0.599243C6.36722 0.599243 6.23989 0.651988 6.146 0.745875C6.05211 0.839761 5.99937 0.967099 5.99937 1.09987C5.99937 1.23265 6.05211 1.35999 6.146 1.45387L9.793 5.09987Z" fill="#2152FF"/>
                </svg>
                </span>
            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/craftscene.png"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Craft Scene.
            </h3>
            <p class="mt-6 mb-8 text-gray-600 ">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" target="_blank" href="https://craftsceneapp.com/">
              <span class="text-info flex items-center gap-2">View<svg width="12" height="13" class="pt-1" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.793 5.09987H0.5C0.367392 5.09987 0.240215 5.15255 0.146447 5.24632C0.0526785 5.34009 0 5.46727 0 5.59987C0 5.73248 0.0526785 5.85966 0.146447 5.95343C0.240215 6.0472 0.367392 6.09987 0.5 6.09987H9.793L6.146 9.74587C6.05211 9.83976 5.99937 9.9671 5.99937 10.0999C5.99937 10.2326 6.05211 10.36 6.146 10.4539C6.23989 10.5478 6.36722 10.6005 6.5 10.6005C6.63278 10.6005 6.76011 10.5478 6.854 10.4539L11.354 5.95387C11.4006 5.90743 11.4375 5.85225 11.4627 5.79151C11.4879 5.73076 11.5009 5.66564 11.5009 5.59987C11.5009 5.53411 11.4879 5.46899 11.4627 5.40824C11.4375 5.3475 11.4006 5.29232 11.354 5.24587L6.854 0.745875C6.76011 0.651988 6.63278 0.599243 6.5 0.599243C6.36722 0.599243 6.23989 0.651988 6.146 0.745875C6.05211 0.839761 5.99937 0.967099 5.99937 1.09987C5.99937 1.23265 6.05211 1.35999 6.146 1.45387L9.793 5.09987Z" fill="#2152FF"/>
                </svg>
                </span>            </a>
          </div>
          
        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="/coming_soon.jpg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 flex items-center gap-2 ">
              Second Home <span class="text-lg text-main-color pt-1">(Coming soon)</span>
            </h3>
            <p class="mt-6 mb-8 text-gray-600 ">
              Voluptates harum aliquam totam, doloribus eum impedit atque! Temporibus...
            </p>
            <a class="inline-block" href="#">
              <span class="text-green-700 font-semibold flex items-center gap-2">Coming soon</span> 
            </a>
          </div>
          
        </div>
      </div>
  </Container>
</div>